.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px; 
  height: 80px; 
  margin-right: 5px;
}

.App-header h1 {
  margin: 0; 
  padding: 0 0 10px 8px; 
  font-size: 50px;
  font-family: "Arial, sans-serif";
}

.App-header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center; 
  margin: 0;
  padding: 0;
  padding-left: 12px; 
}

.App-header nav ul li {
  margin-right: 20px;
  font-size: 20px;
  
}

.App-header nav ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.App-header nav ul li a.link {
  color: #ccc;
}

.App-header nav ul li a.active {
  color: #61dafb;
  font-weight: bold;
}
@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }

  .App-header h1 {
    font-size: 35px;
    padding: 10px 0; 
  }

  .App-header nav ul {
    flex-direction: column;
    padding-left: 0;
  }

  .App-header nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .App-header {
    padding: 10px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .App-header h1 {
    font-size: 28px;
  }

  .App-header nav ul li {
    font-size: 16px;
  }
}